---
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

const rules = await getCollection("rules");
---

<Base>
  <h1 class="text-4xl font-extrabold mb-4">All rules</h1>

  <ul class="list-disc list-inside">
    {
      rules.map(rule => (
        <li>
          <a
            class="underline"
            href={["/rules", rule.slug.toLowerCase()].join("/")}>
            {rule.data.name}
          </a>
        </li>
      ))
    }
    <ul></ul>
  </ul>
</Base>
