---
import { getCollection, type CollectionEntry } from "astro:content";
import DocPageLayout from "@/layouts/DocPageLayout.astro";

export async function getStaticPaths() {
  const blogEntries: CollectionEntry<"docs">[] = await getCollection("docs");
  const tags = [...new Set(blogEntries.flatMap((entry) => entry.data.tags))];
  return tags.map((tag) => ({
    params: {
      slug: tag,
    },
    props: { tag },
  }));
}
const { tag } = Astro.props;
const taggedEntries: CollectionEntry<"docs">[] = (
  await getCollection("docs")
).filter((entry) => entry.data.tags.includes(tag));
---

<DocPageLayout
  frontmatter={{ title: `All pages for tag "${tag}"` }}
  pagefindIgnore={true}
>
  <ul class="list-disc list-inside">
    {
      taggedEntries.map((entry) => (
        <li>
          <a
            class="underline"
            href={["/docs", entry.slug.toLowerCase()].join("/")}
          >
            {entry.data.title}
          </a>
        </li>
      ))
    }
    <ul></ul>
  </ul>
</DocPageLayout>
