---
import { ScrollArea } from "../ui/scroll-area";
import { NavContents } from "./NavContents.tsx";
---

<ScrollArea client:visible className="pr-6 h-full">
  <div class="py-6">
    <NavContents client:visible mobile={false} />
  </div>
</ScrollArea>
