---
import { ScrollArea } from "../ui/scroll-area";
import { NavContents } from "./NavContents.tsx";
import { groupedNavbarParents, navbarParents, posts } from "./navigationConfig";
---

<ScrollArea client:visible className="pr-6 h-full">
  <div class="py-6">
    <NavContents groupedNavbarParents={groupedNavbarParents} navbarParents={navbarParents} posts={posts} client:visible mobile={false} />
  </div>
</ScrollArea>
