---
import { ScrollArea } from "../ui/scroll-area";
import { NavContents } from "./NavContents.tsx";
import { groupedNavbarParents, navbarParents, pages } from "./navigationConfig";
---

<ScrollArea client:visible className="pr-6 h-full">
  <div class="py-6">
    <NavContents
      groupedNavbarParents={groupedNavbarParents}
      navbarParents={navbarParents}
      pages={pages}
      client:visible
      mobile={false}
    />
  </div>
</ScrollArea>
