---
import Layout from "../layouts/Base.astro";
import { getEntry } from "astro:content";

const index = await getEntry("docs", "vocadb-wiki");
const { Content } = await index!.render();
---

<Layout title="VocaDB Wiki">
  <main>
    <div class="flex flex-col">
      <section class="max-w-xl pb-5">
        <h1 class="text-6xl font-bold tracking-tight">VocaDB Wiki</h1>
      </section>
      <div class="prose dark:prose-invert max-w-none min-w-0">
        <Content />
      </div>
    </div>
  </main>
</Layout>
