---
import BreadCrumbs from "./BreadCrumbs.astro";
---

<div
  class="rounded-xl border bg-card text-card-foreground shadow w-full not-prose"
>
  <div class="p-6">
    <h3 class="font-semibold leading-none tracking-tight">Entry Navigation</h3>
  </div>
  <div class="p-6 pt-0">
    <BreadCrumbs
      links={[
        {
          title: "Song entry creation",
          url: "/docs/songs/song-entry-creation",
        },
        {
          title: "Song entry editing",
          url: "/docs/songs/song-entry-editing",
        },
        {
          title: "Song entry page",
          url: "/docs/songs/song-entry-page",
        },
      ]}
    />
    <BreadCrumbs
      links={[
        {
          title: "Artist entry creation",
          url: "/docs/artists/artist-entry-creation",
        },
        {
          title: "Artist entry editing",
          url: "/docs/artists/artist-entry-editing",
        },
        {
          title: "Artist entry page",
          url: "/docs/artists/artist-entry-page",
        },
      ]}
    />
    <BreadCrumbs
      links={[
        {
          title: "Album entry creation",
          url: "/docs/albums/album-entry-creation",
        },
        {
          title: "Album entry editing",
          url: "/docs/albums/album-entry-editing",
        },
        {
          title: "Album entry page",
          url: "/docs/albums/album-entry-page",
        },
      ]}
    />
  </div>
</div>
