---
const footerItems = [
  {
    name: "Terms of service",
    href: "/docs/documentation/terms-of-service",
  },
  {
    name: "Privacy & cookie policy",
    href: "/docs/documentation/privacy-and-cookie-policy",
  },
  {
    name: "License",
    href: "/docs/documentation/license",
  },
  {
    name: "About VocaDB",
    href: "/docs/documentation/vocadb-what-is-it-for",
  },
  {
    name: "Staff",
    href: "/docs/documentation/staff-roles",
  },
];
---

<div
  class="h-16 flex items-center space-x-4 px-4 justify-center border-t border-border"
>
  {
    footerItems.map((footerItem) => (
      <a
        class="text-sm hover:underline text-foreground/60 hover:text-foreground/80"
        href={footerItem.href}
      >
        {footerItem.name}
      </a>
    ))
  }
</div>
