---
const footerItems = [
  {
    name: "Terms of service",
    href: "/docs/footer/terms-of-service",
    hide: true,
  },
  {
    name: "Privacy & cookie policy",
    href: "/docs/footer/privacy-and-cookie-policy",
    hide: true,
  },
  {
    name: "License",
    href: "/docs/footer/license",
    hide: true,
  },
  {
    name: "About VocaDB",
    href: "/docs/footer/vocadb-what-is-it-for",
  },
  {
    name: "Staff",
    href: "/docs/footer/staff-roles",
  },
  {
    name: "Contact",
    href: "/docs/footer/contact",
  },
];
---

<div
  class="h-16 flex items-center space-x-4 px-4 justify-center border-t border-border"
>
  {
    footerItems.map((footerItem) => (
      <a
        class={`text-sm hover:underline text-foreground/60 hover:text-foreground/80 ${footerItem.hide ? "sm:block hidden" : ""}`}
        href={footerItem.href}
      >
        {footerItem.name}
      </a>
    ))
  }
</div>
