---
import Search from "./Search.astro";
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    name: "Docs",
    href: "/docs/starting",
  },
  {
    name: "Guides",
    href: "/docs/guides",
  },
  {
    name: "For Developers",
    href: "/docs/developers",
  },
];
---

<header
  class="sticky top-0 z-50 w-full border-b border-border/40 g-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="h-16 container flex items-center">
    <div class="md:flex">
      <a class="hover:underline mr-6" href="/">VocaDB Wiki</a>
      <nav class="hidden md:flex items-center gap-6 text-sm">
        {
          navItems.map((navItem) => (
            <a
              href={navItem.href}
              class={`navitem hover:text-foreground/80 transition-colors ${Astro.url.pathname.includes(navItem.href) ? "text-foreground" : "text-muted-foreground"}`}
            >
              {navItem.name}
            </a>
          ))
        }
      </nav>
    </div>
    <div class="flex flex-1 justify-end items-center space-x-2">
      <Search />
      <ThemeToggle />
    </div>
  </div>
</header>
