---
import SearchMenu from "./SearchMenu";
---

<div class="flex flex-1 md:justify-end">
  <SearchMenu client:idle />
</div>

<script is:inline type="module">
  const pagefind = await import("/pagefind/pagefind.js");

  window.pagefind = pagefind;
</script>
