---
// Adapted from Starlight (github.com/withastro/starlight)
// Source: https://github.com/withastro/starlight/blob/bf1a9e6fd7311c30b7d1adbecfe9ca32e24207d9/packages/starlight/components/TableOfContents/TableOfContentsList.astro
// Source is licensed under MIT.

import type { TocItem } from "@/utils/generateToC.ts";
import TableOfContentsScript from "./TableOfContentsScript.astro";

interface Props {
  toc: TocItem[];
  depth?: number;
  isMobile?: boolean;
  track?: boolean;
}

const { toc, isMobile = false, depth = 0, track = false } = Astro.props;
---

<ul class:list={["p-0 list-none", { isMobile, track }]}>
  {
    toc.map((heading) => (
      <li class="pl-0">
        <a
          href={"#" + heading.slug}
          class:list={[
            `block py-1 leading-normal hover:underline ps-[calc(1rem*var(--depth)+var(--pad-inline))] pe-[var(--pad-inline)]`,
            isMobile
              ? "[--pad-inline:1rem]"
              : "text-muted-foreground [--pad-inline:0rem]",
          ]}
          style={`--depth: ${depth}`}
        >
          <span>{heading.text}</span>
        </a>
        {heading.children.length > 0 && (
          <Astro.self
            toc={heading.children}
            depth={depth + 1}
            isMobile={isMobile}
          />
        )}
      </li>
    ))
  }
</ul>

{depth === 0 && track && <TableOfContentsScript />}
